.DS_Store

# Node local build artifacts
nervusdb-node-test/node_modules/
nervusdb-node-test/dist/
nervusdb-node-test/native/

# Python virtualenv
nervusdb-python-test/.venv/
nervusdb-python-test/__pycache__/
*.pyc

# Rust local build artifacts
nervusdb-rust-test/target/
nervusdb-rust-test/Cargo.lock
